
<h1 style="text-align: center">Please log in</h1>
<br>

<div style="margin-left: 40%">
<%= form_tag sessions_path do %>
  <div style="width: 40%" class="form-group">
    <%= label_tag "Username" %>
    <br>
    <%= text_field_tag :username, nil, autofocus: true, placeholder: "Username", class: "form-control" %>
    
    </div>
    <div style="width: 40%" class="form-group">
    <%= label_tag "Password" %>
    <br>
    <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
    <br>
    
    </div>
    <div class="actions">
    <%= submit_tag "Log In", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
<nav>
<div class = "footer">
  <%= link_to 'About Page', about_path %>
</div>
</nav>