
<h1>Update your profile</h1>

  
<%= form_with(model: [@user], local: true) do |form| %>
      
    <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image%>
    </div>

    <%= form.submit "Update Account" %>
<% end %>

<nav>
 <div class = "footer">
      <div >
        <ul>
            <li> <%= link_to 'Back', current_user %> </li>
        </ul>
      </div>
  </nav>