
<h1 style="text-align: center">Update your profile image</h1>

<div style="margin-left: 40%"> 
<%= form_with(model: [@user], local: true) do |form| %>
      
    <div style="width: 40%" class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
    </div>

    <%= submit_tag "Update", class: "btn btn-primary" %>
<% end %>

</div>

<nav>
 <div class = "footer">
      <div >
        <ul>
            <li> <%= link_to 'Back', current_user %> </li>
        </ul>
      </div>
  </nav>