<h1 style="text-align: center"><%= @user.username %>'s Album Library</h2>

<div style="margin-left: 30%">
<% if current_user == @user %>

 
<div>
  <%= image_tag(@user.image)%>
</div>
<br>
  <h2>Albums</h2>
  <% for album in current_user.albums %>
      <ul>
        <li><%= album.title  %></li>
        <%= link_to 'Show', user_album_path(current_user, album), class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_user_album_path(current_user, album), class: "btn btn-primary" %> 
    </ul>
  <% end %>
  </div>

<div >
 <nav>
  <div class = "footer">
  <ul>
    <li>  <%= link_to 'Add Album', user_albums_path(current_user) %> </li> |
     <li> <%= link_to 'Edit Profile', edit_user_path(current_user) %> </li>
      <% end %>  
      </ul>  

  </div>
  </nav>
</div>