
<div style="margin-left: 40%">
<%= form_with(model: [@current_user, album], local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 40%" class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div style="width: 40%" class="form-group">
  <%= form.label :images%>
  <%= form.file_field :images, multiple: true, class: "form-control"  %>
</div>

  <div class="actions">
    <%= submit_tag "Update Album", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
