<!DOCTYPE html>
<html>
  <head>
    <title>PhotoGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 
  <div>

    <nav id="container">
      <ul>
          <li><%= link_to "Home", welcome_index_path %> </li>
        <div id = "user_header">     
          <% if current_user !=nil %>    
        
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Log out", sessions_path, method: :delete %> </li>
           
          <%else%>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %> </li>
          <% end %>
      </ul>
    </nav>
    

  </div>
   
    <%= yield %>
    <br>
    
  </div>

  </body>
</html>



